
.certificates {
  width: 100%;
}

.certificates__wrapper {
  display: flex;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: $grey-light2;
}

.certificates__certificate {
  height: 130px;
  margin-right: 15px;
  position: relative;
}

.certificates__img-link {
  position: relative;
  display: block;
  @include trans();
}

.certificates__img-link::before {
  content: '';
  @include elemToCenter();
  background: url('../../img/hover-icon.png') no-repeat center;
  transform: translate(-50%, -51%);
  width: 100%;
  height: 98%;
  display: none;
  z-index: 2;
  background-color: rgba(0,0,0,0.5);
}

.certificates__img-link:hover::before {
  display: block;
}


.certificates__img {
  height: 100%;
}




@media (max-width: 1024px) {

}


@media (max-width: 768px) {
  .certificates__wrapper {
    overflow: auto;
  }
}


@media (max-width: 480px) {

}