.two-images__slider {
  margin: 20px 0;
  width: 100%;
}

.two-images__image-wrapper {
  width: 49%;
  margin-bottom: 5px;
}

.two-images__image-wrapper:first-child {
  margin-right: 20px;
}

.two-images__img {
  width: 100%;
}

.two-images__img-title {
  font-size: 12px;
  line-height: 20px;
  color: $gray-medium;
  text-align: left;
}

@media (max-width: 768px) {
  .two-images__slider {
    margin: 20px 0;
  }
}

@media (max-width: 480px) {
  .two-images__slider {
    padding-bottom: 35px;
    margin-bottom: 0;
  }

  .two-images__image-wrapper {
    width: 100%;
  }

  .two-images__img-title {
    text-align: center;
  }
}