.use-cases {
  width: 100%;
}

.use-cases__wrapper {
  display: flex;
  justify-content: space-between;
}

.use-cases__slide {
  width: 24%;
}

.use-cases__img {
  width: 100%;
}

.use-cases .swiper-button-next,
.use-cases .swiper-button-prev {
  display: none;
}


@media (max-width: 1024px) {

}


@media (max-width: 768px) {
  .use-cases .swiper-button-next,
  .use-cases .swiper-button-prev {
    display: block;
  }
}


@media (max-width: 480px) {
  .use-cases__slide {
    width: 80%;
  }
}