/*.main-title - h1*/
.title-h1 {
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 40px;
  color: #c4010c;
  font-weight: 400;
  text-align: left; }

.title-h3 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 28px;
  color: #c4010c;
  font-weight: 600;
  text-align: left; }

.title-h2 {
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 26px;
  line-height: 36px;
  color: #000000;
  font-weight: 400; }

.text-italic {
  font-size: 18px;
  line-height: 30px;
  font-style: italic;
  color: #000000;
  text-align: left; }

.text-normal {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 26px;
  color: #000000;
  text-align: left; }

.text-bold {
  font-size: 15px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  font-weight: 700; }

.text-img-name {
  font-size: 12px;
  line-height: 20px;
  color: #666666; }

.text-italic_adv {
  font-size: 15px;
  line-height: 26px; }

.table-title {
  font-size: 13px;
  line-height: 18px;
  font-weight: 600; }

.table-text {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400; }

.table-text_bold {
  font-weight: 700; }

@media (max-width: 1280px) {
  .title-h1 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 28px; }
  .title-h2 {
    font-size: 24px; }
  .title-h3 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 26px; }
  .text-italic {
    font-size: 16px;
    line-height: 28px; }
  .text-normal {
    font-size: 14px;
    line-height: 24px; }
  .text-bold {
    font-size: 14px; }
  .text-italic_adv {
    font-size: 14px;
    line-height: 24px; }
  .table-text {
    font-size: 13px;
    line-height: 20px; } }

@media (max-width: 1024px) {
  .title-h1 {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 30px; }
  .title-h2 {
    margin-top: 60px;
    font-size: 26px; }
  .title-h3 {
    margin-top: 50px;
    font-size: 20px;
    line-height: 21px; }
  .text-italic {
    font-size: 18px;
    line-height: 32px; }
  .text-normal {
    font-size: 15px;
    line-height: 26px; }
  .text-italic_adv {
    font-size: 15px;
    line-height: 26px; }
  .table-text {
    font-size: 14px;
    line-height: 22px; }
  .table-text_bold {
    line-height: 21px; } }

@media (max-width: 768px) {
  .title-h1 {
    margin-top: 40px;
    margin-bottom: 30px; }
  .title-h2 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 24px; }
  .title-h3 {
    margin-top: 30px;
    margin-bottom: 20px; }
  .text-italic {
    font-size: 14px;
    line-height: 22px; }
  .text-normal {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 24px; }
  .text-italic_adv {
    font-size: 14px;
    line-height: 24px; }
  .table-text {
    font-size: 13px;
    line-height: 20px; }
  .table-text_bold {
    font-size: 14px;
    line-height: 20px; }
  .table-title {
    font-size: 10px;
    line-height: 16px;
    font-weight: 300;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.5; } }

@media (max-width: 480px) {
  .title-h1 {
    font-size: 26px; }
  .title-h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 30px; }
  .title-h3 {
    font-size: 18px;
    line-height: 26px; }
  .text-italic {
    line-height: 24px; } }

.container {
  max-width: 1240px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.left-column {
  -webkit-flex-basis: 256px;
      -ms-flex-preferred-size: 256px;
          flex-basis: 256px;
  margin-right: 60px; }

.right-column {
  -webkit-flex-basis: 820px;
      -ms-flex-preferred-size: 820px;
          flex-basis: 820px; }

@media (max-width: 1260px) {
  .container {
    margin-left: 30px;
    margin-right: 35px; } }

@media (max-width: 1024px) {
  .container {
    margin-left: 30px;
    margin-right: 35px; }
  .left-column {
    -webkit-flex-basis: 220px;
        -ms-flex-preferred-size: 220px;
            flex-basis: 220px;
    margin-right: 40px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; } }

@media (max-width: 768px) {
  .container {
    margin-left: 28px;
    margin-right: 28px; }
  .left-column {
    display: none; } }

@media (max-width: 480px) {
  .container {
    margin-left: 10px;
    margin-right: 10px; } }

.left-nav__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 1px solid #f3f3f3;
  color: #666666; }

.left-nav__pointers {
  padding-top: 15px;
  padding-bottom: 25px;
  border-right: 1px solid #f3f3f3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.left-nav__pointer {
  width: 40px;
  padding-top: 6px;
  padding-bottom: 6px; }

.left-nav__pointer:last-child {
  padding-top: 26px;
  padding-bottom: 32px; }

.left-nav__pointer_active {
  color: #fff;
  background: #c4010c;
  line-height: 1em;
  position: relative;
  margin-left: -1px;
  margin-right: -1px;
  width: 42px; }

.left-nav__pointer_active::after {
  position: absolute;
  content: '';
  right: -6px;
  top: 0;
  height: 25px;
  width: 6px;
  background: url("../../img/left-nav__pointer-active.svg") no-repeat center;
  background-size: cover; }

.left-nav__pointer:hover {
  cursor: pointer; }

.left-nav__articles {
  padding-top: 15px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.left-nav__article-name {
  margin-left: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #666666; }

.left-nav__article-name:first-child {
  padding-top: 6px; }

.left-nav__article-name_active {
  color: #c4010c;
  position: relative; }

.left-nav__article-name_active::before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -3.5px;
  left: -10px;
  height: 7px;
  width: 4px;
  background: url("../../img/left-nav__article-name-pointer_active.svg") no-repeat center; }

.left-column__banner-wrapper {
  margin: 30px 0;
  width: auto; }

.types__table-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #f5f5f5; }

.types__table-name {
  width: 230px; }

.types__table-feature,
.types__table-advantage {
  width: -webkit-calc(50% - 117px);
  width: calc(50% - 117px); }

.types__table-feature {
  margin-left: 2px;
  margin-right: 2px; }

.types__table-title {
  display: none;
  padding: 16px 10px;
  margin: 0;
  background-color: #f5f5f5;
  border-bottom: 1px solid #c4010c; }

.types__table-item_1 .types__table-title {
  display: block; }

.types__item-text {
  padding: 20px 10px;
  margin: 0; }

@media (max-width: 1280px) {
  .types__table-name {
    width: 206px; }
  .types__table-feature,
  .types__table-advantage {
    width: -webkit-calc(50% - 110px);
    width: calc(50% - 110px); } }

@media (max-width: 992px) {
  .types__table-name {
    width: 179px; }
  .types__table-feature,
  .types__table-advantage {
    width: -webkit-calc(50% - 92px);
    width: calc(50% - 92px); } }

@media (max-width: 768px) {
  .types__table-item {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
    border-bottom: none; }
  .types__table-item_grey {
    background-color: #f5f5f5; }
  .types__table-title {
    display: block;
    border-bottom: none;
    background-color: transparent;
    padding: 0; }
  .types__table-name {
    width: 100%; }
  .types__table-feature,
  .types__table-advantage {
    width: 45%; }
  .types__table-feature {
    margin: 0; }
  .types__item-text {
    padding: 0; }
  .types__item-text.table-text_bold {
    padding: 0;
    padding-bottom: 20px; } }

@media (max-width: 480px) {
  .types__table-feature,
  .types__table-advantage {
    width: 100%; }
  .types__table-feature {
    padding-bottom: 20px; } }
