@media (min-width: 320px) {
    .container-404 {
        display: block;
        box-sizing: border-box;
        width: 100%;
    }

    .top-404 {
        margin-top: 33px;
        margin-bottom: 40px;
        font-family: "Open Sans";

        &__number {
            margin-bottom: 10px;
            font-size: 90px;
            line-height: 1;
            font-weight: bold;
            letter-spacing: 2.25px;
        }

        &__title {
            margin-top: 0;
            margin-bottom: 15px;
            font-size: 26px;
            line-height: 1.36;
            color: $red;
        }

        &__desc {
            margin-bottom: 22px;
            font-size: 14px;
            line-height: 1.7;
        }

        &__btn {
            display: inline-block;
            padding: 11px 26px 11px 26px;
            font-size: 14px;
            color: #fff;
            font-weight: 600;
            text-align: center;
            
            background-color: $red;
            border-radius: 4px;
            border: 1px solid transparent;

            @include trans();

            &:hover {
                color: $red;
                border-color: $red;
                background-color: #fff;
                text-decoration: none;
            }
        }
    }

    .search-404 {
        margin-bottom: 35px;
        margin-left: -15px;
        margin-right: -15px;
        padding: 40px 10px;
        background-color: #6b80a0;

        &__title {
            display: none;
        }

        &__input-wrapper {
            position: relative;
            width: 100%;
        }
       
        &__label {
            display: none;
        }

        &__input {
            height: 50px;
            width: 100%;
            box-sizing: border-box;
            padding-left: 20px;

            background-color: #fff;
            color: $red;
            font-style: italic;
            font-weight: bold;
            font-size: 14px;

            &::placeholder {
                color: $red;
            }
        }

        &__btn {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 0;
            width: 50px;
            height: 50px;
            border: none;
            background: url('../img/search-icon.png') no-repeat center;
            background-size: 21px 20px;
        }
    }

    .specials-404 {
        margin-bottom: 40px;
        margin-right: -15px;
        margin-left: -15px;
        padding-bottom: 30px;
        background-color: #f8f8f8;

        &__title {
            margin-top: 15px;
        }
    }

    .links-404 {
        margin-bottom: 10px;
        text-align: left;
        font-size: 14px;
        line-height: 26px;
        font-family: "Open Sans";

        &__group {
            margin-bottom: 20px;
        }

        &__group-title {
            margin-bottom: 5px;
            display: block;
            font-weight: 600;
            color: $red;

            & span {
                color: #6b80a0;
            }
        }

        &__group-link {
            display: block;
            color: black;
        }
    }

    .promo-404 {
        margin-left: -15px;
        margin-right: -15px;
        padding: 20px 0;
        background: url('../img/promo-404-mobile-bg.png') no-repeat center;
        background-size: 100% 100%;

        &__text {
            display: inline-block;
            margin: 0 auto;
            padding: 15px 25px;
            font-size: 22px;
            line-height: 32px;
            color: #fff;
            background-color: $red;
        }
    }
}

@media (min-width: 480px) {
    .top-404 {
        &__number {
            font-size: 115px;
        }

        &__title {
            font-size: 30px;
        }
    }

    .promo-404 {
        &__text {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
}

@media (min-width: 768px) {
    .top-404 {
        margin-top: 35px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;

        &__number {
            margin: 0;
            margin-right: 40px;
            margin-bottom: 40px;
        }

        &__text-block {
            text-align: left;
        }

    }

    .search-404 {
        margin-right: -30px;
        margin-left: -30px;
        padding: 40px 30px;
        
        &__form {
            display: flex;
            align-items: center;
        }

        &__title {
            margin: 0;
            margin-right: 30px;
            display: block;
            color: #fff;
            font-size: 20px;
            min-width: 260px;
        }
    }

    .specials-404 {
        margin-right: -30px;
        margin-left: -30px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .links-404 {
        display: flex;
        flex-wrap: wrap;

        &__group {
            width: 280px;
            margin-right: 70px;
        }

        &__group-title {
            font-weight: normal;
            font-size: 16px;
        }

        &__group-link {
            font-size: 13px;
        }
    }

    .promo-404 {
        margin-right: 0;
        margin-left: 0;
        padding: 40px 0;
        background-image: url('../img/promo-404-mobile-bg-768.png');

        &__text {
            padding: 16px 68px;
            font-size: 28px;
            line-height: 40px;
        }
    }
}

@media (min-width: 1024px) {
    .top-404 {
        &__text-block {
            width: 470px;
        }
    }
    
    .search-404 {
        margin-left: 0;
        margin-right: 0;
    }

    .specials-404 {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        background: transparent;
    }

    .links-404 {
        &__group {
            width: 280px;
            margin-right: calc((100% - 840px) / 2);

            &:nth-child(3n + 3) {
                margin-right: 0;
            }
        }

        &__group-link {
            font-size: 12px;
            line-height: 22px;
        }
    }

    .promo-404 {
        background-image: url('../img/promo-404-mobile-bg-1024.png');
    }
}

@media (min-width: 1280px) {
    .top-404 {
        &__number {
            margin-right: 55px;
            font-size: 200px;
        }
    }

    .links-404 {
        &__group {
            width: 270px;
            margin-right: calc((100% - 1080px) / 3);

            &:nth-child(3n + 3) {
                margin-right: calc((100% - 1080px) / 3);
            }

            &:nth-child(4n + 4) {
                margin-right: 0;
            }
        }
    }

    .promo-404 {
        padding: 27px 0;
        background-image: url('../img/promo-404-mobile-bg-1280.png');

        &__text {
            padding: 16px 27px;
        }
    }
}