@media (min-width: 320px) {
  .intro {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    text-align: left;

    &__block {
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
    }

    &__title-block {
      margin-bottom: 7px;
      display: flex;
      align-items: center;
    }

    &__title-number {
      margin-right: 14px;
      display: inline-block;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: rgb(243, 243, 243);

      text-align: center;
      vertical-align: middle;
      @include textParam(18px, 45px, #c71720);
      font-weight: bold;
    }

    &__title {
      margin-bottom: 0;
      @include textParam(18px, 26px, $red);
      font-weight: bold;
      text-transform: uppercase;
    }

    &__img {
      align-self: center;
      width: 251px;
      height: 251px;
    }

    &__desc {
      font-size: 14px;
      line-height: 24px;
    }
  }

  .tick {
    margin-right: -15px;
    margin-left: -15px;
    border-top: 1px solid transparent;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 25px;
    background: $grey-light2;
    text-align: left;

    &__title {
      margin-top: 24px;
      margin-bottom: 20px;
    }

    &__list {
      list-style-image: url('../img/tick-list-marker.png');
    }

    &__list-item {
      margin-bottom: 10px;
      padding-left: 5px;
      @include textParam(14px, 24px);

      &::before {
        content: none!important;
      }
    }
  }
}

@media (min-width: 480px) {
  .intro {
    margin-bottom: 35px;

    &__block {
      margin-bottom: 7px;
      flex-direction: row;

      &:nth-child(2n) {
        flex-direction: row-reverse;
      }
    }

    &__img {
      margin-top: 18px;
      margin-left: 10px;
      align-self: flex-start;
      width: 220px;
      height: 220px;

      &_left {
        margin-left: 0;
        margin-right: 10px;
      }
    }

    &__desc {
      margin-bottom: 0;
      @include textParam(13px, 20px);
    }
  }
}

@media (min-width: 768px) {
  .intro {
    &__block {
      margin-bottom: 30px;
    }

    &__img {
      margin-top: 0;
      margin-left: 42px;
      width: 250px;
      height: 250px;

      &_left {
        margin-left: 0;
        margin-right: 30px;
      }
    }

    &__title-block {
      margin-bottom: 0;
      margin-top: 5px;
    }

    &__desc {
      margin-top: -5px;
      padding-left: 60px;
      @include textParam(14px, 24px);
    }
  }

  .tick {
    margin-right: 0;
    margin-left: 0;
    padding-left: 29px;
    padding-right: 60px;
  }
}

@media (min-width: 1024px) {
  .intro {
    &__img {
      margin-left: 30px;

      &_left {
        margin-left: 0;
        margin-right: 30px;
      }
    }
  }
}

@media (min-width: 1280px) {
  .intro {
    &__title-block {
      margin-top: 30px;
    }

    &__desc {
      margin-top: 0;
    }

    &__text-block {
      width: calc(100% - 305px);
    }

    &__img {
      width: 275px;
      height: 275px;
    }
  }
}