.advantages {
  margin-top: 30px;
}

.advantages__wrapper {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.advantages__slide {
  display: flex;
  justify-content: space-around;
  width: 25%;
  margin-right: 0;
}

.advantages__slide:last-child {
  margin-right: 0;
}

.advantages__advantage {
  position: relative;
  padding-top: 86px;
  padding-bottom: 20px;
  flex-basis: 25%;
  flex-grow: 1;
  color: #757575;
  background-color: #F7F7F7;
  background-repeat: no-repeat;
  background-position: center 20px;

  &::after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    content: '';
    height: 80%;
    width: 1px;
    background: #E1E1E1;
  }
}

.advantages__advantage_guarantee {
  background-image: url('../img/guarantee_icon.svg');
}

.advantages__advantage_quality {
  background-image: url('../img/quantity_icon.svg');
}

.advantages__advantage_cup {
  background-image: url('../img/cup_icon.svg');
}

.advantages__advantage_arrows {
  background-image: url('../img/arrows_icon.svg');

  &::after {
    content: none;
  }
}

.advantages__advantage-number {
  font-size: 35px;
  font-weight: bold;
}



@media (max-width: $m) {
  .advantages__advantage {
   /* margin-right: 10px;*/
  }
}


@media (max-width: $s) {
  .advantages__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__slide {
    flex-wrap: wrap;
    width: 50%;
  }

  .advantages__advantage {
    min-width: 173px;
    margin-bottom: 0;
    margin-right: 0;
  }

  .advantages__advantage_quality {
    &::after {
      content:none;
    }
  }
}


@media (max-width: $xs) {
  .advantages {
    width: 100%;
  }

  .advantages__wrapper {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .advantages__slide {
    width: 50%;
    flex-shrink: 0;
    margin-bottom: 0;
  }

  .advantages__advantage {
    margin-bottom: 0;
    min-width: inherit;
  }

  .advantages__advantage_quality {
    &::after {
      content: '';
    }
  }
}