.articles {
  width: 100%;
}

.articles__link{
  color: $blue;
  text-align: left;
  cursor: pointer;
}

.articles__img-wrapper {
  margin-bottom: 20px;
}

.articles__wrapper {
  display: flex;
  justify-content:flex-start;
}

.articles__slide {
  width: 23%;
  margin-right: 3%;
  text-align: left;
}

.articles__slide:last-child {
  margin-right: 0;
}

.articles__img {
  width: 100%;
}

.articles .swiper-button-next,
.articles .swiper-button-prev {
  display: none;
}

@media (max-width: $s) {
  .articles .swiper-button-next,
  .articles .swiper-button-prev {
    display: block;
    margin-top: -15px;
  }
}


@media (max-width: $xs) {
  .articles__slide {
    width: 80%;
  }
}