.article-desc {
  width: 100%;
  border-top: 1px solid $grey-light4;
  border-bottom: 1px solid $grey-light4;
  padding: 10px 0;
  font-size: 13px;
  line-height: 26px;
}

.article-desc:after {
    content: "";
    display: table;
    clear: both;
}

.article-desc__time {
  float: left;
  padding-left: 30px;
  padding-right: 15px;
  background-image: url("../img/clock-icon.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  border-right: 1px solid $grey-light4;
}

.article-desc__later {
  float: left;
  border: none;
  padding-left: 30px;
  background-color: transparent;
  text-decoration: none;
  background-image: url("../img/red-arrow-icon.png");
  background-repeat: no-repeat;
  background-position: 20px center;
  line-height: 26px;
  cursor: pointer;
}

.article-desc__print {
  float: right;
  border: none;
  background-color: transparent;
  text-decoration: none;
  line-height: 26px;
  cursor: pointer;
}

.article-desc__print span {
  padding-left: 25px;
  background-image: url("../img/print-icon.png");
  background-repeat: no-repeat;
  background-position: 0 center;
}

@media (max-width: 480px) {
  .article-desc {
    display: flex;
    flex-wrap: wrap;
  }

  .article-desc__time {
    border-right: none;
    margin: 0 auto;
    margin-bottom: 5px;
  }

  .article-desc__later {
    width: 50%;
    padding-left: 15px;
    border-right: 1px solid $grey-light4;
    text-align: left;
    background-position: 5px center;
  }

  .article-desc__print {
    width: 50%;
    text-align: right;
  }
}