
.contacts-block {
  width: 100%;
}

.contacts-block__wrap {
  display: flex;
  justify-content: space-between;
}
.contacts-block__address-item {
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}

.contacts-block__address-item:first-child {
  margin-bottom: 20px;
}

.contacts__map {
  box-sizing: border-box;
  width: 505px;
  height: 272px;
  margin-left: 30px;
  margin-top: -45px;
}

.contacts-block__address-item .phone,
.contacts-block__address-item .mail {
  display: block;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: 0 center;
}

.contacts-block__address-item .phone {
  background-image: url('../img/icon-tel.png');
}

.contacts-block__address-item .mail {
  background-image: url('../img/icon-mail-small.png');
}

@media (max-width: 1280px) {
  .contacts__map {
    width: 441px;
  }
}

@media (max-width: $m) {
  .contacts__map {
    width: 406px;
  }
}

@media (max-width: $s) {
  .contacts-block__wrap {
    flex-wrap: wrap;
  }

  .contacts__map {
    order: -1;
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 20px;
    height: 282px;
  }

  .contacrs-block__address {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: $xs) {
  .contacts__map {
    height: 164px;
  }

  .contacrs-block__address {
    flex-direction: column;
  }
}