@media (min-width: 320px) {
  .tabs-container ul.tabs_contacts {
    width: 100%;
    border-bottom: 1px solid $tabs-border;
  }

  .contacts-tabs {
    margin-bottom: 30px;
  }

  .contacts-cont {
    margin-bottom: 40px;
    text-align: left;
    font-size: 15px;
    line-height: 26px;
    font-family: "Open Sans";

    &__left-side {
      margin-bottom: 30px;
    }

    &__icon-text {
      padding-left: 20px;
      background-repeat: no-repeat;
      background-position: left 6px;

      &_place {
        background-image: url('../img/contacts-work-time_place.png');
      }

      &_work-time {
        background-image: url('../img/contacts-work-time_icon.png');
      }

      &_phone {
        background-image: url('../img/contacts-work-time_phone.png');
      }

      &_mail {
        background-image: url('../img/contacts-work-time_mail.png');
        background-position: 0 7px;
      }
    }

    &__group-subtitle {
      margin-bottom: 0;
    }

    &__text-little {
      font-size: 12px;
      line-height: 18px;
    }

    &__title {
      margin-bottom: 5px;
      font-weight: bold;
      font-family: "Open Sans";
    }

    &__link {
      font-weight: bold;
      text-decoration: underline;
    }

    &__right-side {
      width: calc(100% + 30px);
      margin-right: -15px;
      margin-left: -15px;
    }
  }

  .showroom-slider {
    padding-bottom: 25px;

    &__img {
      width: 100%;
    }

    &__pagination {
      bottom: 0!important;
    }
  }

  .how-to-go {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 25px 0 25px 20px;
    border: 1px solid #f3cccf;
    text-align: left;

    &__title {
      margin-top: 0;
      margin-bottom: 30px;
      text-align: center;
      font-size: 20px;
      color: #c5010d;
      font-weight: bold;
    }

    &__header {
      text-align: center;
    }

    &__img {
      margin-bottom: 10px;
    }

    &__desc {
      margin-bottom: 0;
      font-size: 15px;
      line-height: 26px;
    }
  }
}

@media (min-width: 480px) {
  .how-to-go {
    padding: 25px 20px;

    &__title {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 768px) {
  .tabs-container ul.tabs_contacts {
    width: calc(51% - 20px);
  }

  .contacts-tabs {
    margin-bottom: 50px;
  }

  .contacts-cont {
    margin-bottom: 0;
    display: flex;

    &__left-side {
      margin-right: 20px;
      box-sizing: border-box;
      width: 51%;
    }

    &__right-side {
      margin-top: -20px;
      margin-right: 0;
      margin-left: 0;
      width: 49%;
    }
  }

  .how-to-go {
    flex-direction: row;
    justify-content: space-between;
    padding: 28px 23px 34px 20px;

    &__header {
      width: 20%;
      color: green;
    }

    &__desc {
      width: 76%;
    }
  }
}

@media (min-width: 1280px) {
  .tabs-container ul.tabs_contacts {
    width: calc(45% - 20px);
  }

  .contacts-tabs {
    margin-bottom: 40px;
  }

  .contacts-cont {
    &__left-side {
      width: 45%;
    }

    &__right-side {
      width: 55%;
    }
  }
}