
.data-wrapper {
  display: block;
  text-align: left;
}

.data {
  display: inline-block;
  background: $gray-light;
  line-height: 30px;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 0 8px;
}

.data_top-margin {
  margin-top: 30px;
}


@media (max-width: $m) {
  .data_top-margin {
    margin-top: 25px;
  }
}


@media (max-width: $s) {
  .data_top-margin {
    margin-top: 15px;
  }
}


@media (max-width: $xs) {
  .data_top-margin {
    margin-top: 10px;
  }
}