@media (min-width: 320px) {
  .ca-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__select {
      position: relative;
      width: 48%;
      min-height: 32px;
      margin-bottom: 15px;
      padding-left: 7px;

      color: $blue !important;
      @include textParam(12px, 26px);

      border: 1px solid $grey-light6;
      border-radius: $border-rad;

      -webkit-appearance: none;
      background: url('../img/ua-select_icon.png') no-repeat;
      background-position: calc(100% - 5px) center;

      &_cat {
        width: 100%;
      }

      &_popul {
        width: 50%;
      }
    }

    &__switcher {
      display: inherit;
      height: 30px;
      border: 1px solid $grey-light6;
      border-radius: $border-rad;
    }

    &__state {
      display: inline-block;
      height: 30px;
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        cursor: pointer;
      }

      &_active.ca-filters__state_list {
        background-image: url('../img/ua-switcher-list-active_icon.png');
      }

      &_active.ca-filters__state_tales {
        background-image: url('../img/ua-switcher-tales-active_icon.png');
      }

      &_list {
        width: 34px;
        border-right: 1px solid $grey-light6;
        background-image: url('../img/ua-switcher-list_icon.png');
      }

      &_tales {
        width: 33px;
        background-image: url('../img/ua-switcher-tales_icon.png');
      }
    }
  }
}

@media (min-width: 480px) {

}

@media (min-width: 768px) {
  .ca-filters {

    &__select {
      width: 31%;
      margin-right: 3.5%;

      &_cat {
        width: 220px;
      }

      &_popul {
        width: 150px;
        margin-right: 10px;
        margin-left: auto;
      }
    }
  }
}

@media (min-width: 1024px) {
  .ca-filters {
    &__select {
      margin-right: 0;

      &_popul {
        margin-right: 10px;
      }
    }
  }
}

@media (min-width: 1280px) {
  .ca-filters {
    justify-content: flex-start;

    &__select {
      margin-right: 10px;

      &_cat {

      }

      &_popul {
        margin-right: 10px;
      }
    }
  }
}