.links-catalog {
  width: 100%;
}

.links-catalog__wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.links-catalog__column {
  width: 32%;
  flex-shrink: 0;
  margin-right: 10px;
  text-align: left;
  @include textParam(14px, 25px, $blue);
}

.links-catalog__column:last-child {
  margin-right: 0;
}

.links-catalog__number {
 color: $grey-medium2;
}


@media (max-width: $s) {
  .links-catalog__column {
    min-width: 175px;
  }
}


@media (max-width: $xs) {
  .links-catalog__column {
  }
}