.logo-block {
  margin: 0 0 25px  0;
  display: flex;
}

.logo-block___logo-wrapper {
  margin-right: 40px;
  width: 32%;
  padding-top: 33px;
  padding-bottom: 33px;
  background: $grey-light2;
}

.logo-block__logo-img {
  /*width: 294px;*/
  width: auto;
}

.logo-block___logo-desc {
  width: 60%;
}


@media (max-width: $m) {
  .logo-block___logo-wrapper {
    margin-right: 30px;
    text-align: center;
  }

  .logo-block__logo-img {
    /*width: 256px;*/
  }

}


@media (max-width: $s) {
  .logo-block___logo-wrapper {
    margin-right: 21px;
  }

  .logo-block__logo-img {
/*    width: 175px;*/
  }
}


@media (max-width: $xs) {
  .logo-block {
    flex-wrap: wrap;
  }

  .logo-block___logo-wrapper {
    margin-right: 0;
    width: 100%;
    margin-bottom: 15px;
  }

  .logo-block__logo-img {
    width: 100%;
  }
}