.left-nav__container {
  display: flex;
  justify-content: flex-start;
  border: 1px solid $gray-light;
  color: $gray-medium;
}

.left-nav__pointers {
  padding-top: 15px;
  padding-bottom: 25px;
  border-right: 1px solid $gray-light;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.left-nav__sortable-block {
  border-right: 1px solid $gray-light;
  display: none;
  flex-direction: column;
}

.left-nav__active {
  display: flex;
}

.left-nav__pointer {
  width: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  @include trans();
  line-height: 1em;
}

.left-nav__pointer_active {
  color: $white;
  background: $red;
  line-height: 1em;
  position: relative;
  margin-left: -1px;
  margin-right: -1px;
  width: 42px;
}

.left-nav__pointer_active::after {
  position: absolute;
  content: '';
  right: -6px;
  top: 0;
  height: 25px;
  width: 6px;
  background: url('../img/left-nav__pointer-active.svg') no-repeat center;
  background-size: cover;
}

.left-nav__pointer:hover {
  cursor: pointer;
  color: $white;
  background-color: $red;
}

.left-nav__articles {
  padding-top: 15px;
  padding-bottom: 25px;
  width: 100%;
}

.left-nav__tab-container {
  display: none;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  align-items: stretch;
}

.left-nav__tab-container_active {
  display: flex;
}

.left-nav__article-name {
  padding-left: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $gray-medium;
  text-align: left;
  @include trans();
}

.left-nav__article-name:hover {
  color: $white;
  background-color: $red;
}

.left-nav__article-name:first-child {
  padding-top: 6px;
}

.left-nav__article-name_active {
  color: $red;
  position: relative;
}

.left-nav__article-name_active::before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -3.5px;
  left: 16px;
  height: 7px;
  width: 4px;
  background: url('../img/left-nav__article-name-pointer_active.svg') no-repeat center;
}

.left-column__banner-wrapper {
  margin: 30px 0;
  width: auto;
}

.left-column__banner-img {
  width: 100%;
}

.left-column__newsletter {
  padding: 28px;
  border: 1px solid $gray-light;

  &_contacts {
    margin-top: 30px;
  }
}

.left-column__newsletter-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.left-column__newsletter-input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background-color: $gray-light;
  border: 1px solid $grey-light4;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
}

.left-column__newsletter-btn {
  padding: 10px;
  width: 100%;
  background-color: $red;
  border-radius: 2px;
  color: $white;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.left-column__newsletter-icon-block {
  position: relative;
  display: block;
  width: 53px;
  height: 50px;
  margin: 20px auto;
  background-image: url("../img/mail-icon.png");
}

.left-column__newsletter-icon-block::before,
.left-column__newsletter-icon-block::after {
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  height: 1px;
  width: 100%;
  background-color: $grey-light5;
}

.left-column__newsletter-icon-block::before {
  left: -69px;
}

.left-column__newsletter-icon-block::after {
  right: -69px;
}

@media (max-width: 1280px) {
  .left-column__newsletter-icon-block::before,
  .left-column__newsletter-icon-block::after {
    width: 80%;
  }

  .left-column__newsletter-icon-block::before {
    left: -55px;
  }

  .left-column__newsletter-icon-block::after {
    right: -55px;
  }
}

@media (max-width: $m) {
  .left-nav__container {
    width: 220px;
  }
}