.social-networks {
  padding: 15px 0;
  margin: 44px auto 0;
  width: 100%;
  border: 1px solid $grey-light3;
  text-align: center;
}

.social-networks__text {
  margin-top: 13px;
  font-size: 15px;
  line-height: 26px;
  color: $black;
  text-align: center;
}