/*tabs*/

.tabs-container {
  margin-top: 20px;
  width: 100%;
}

.tabs-container ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}


.tabs li {
    float:left;
    margin-right: 40px;
}

.tabs_contacts li {
  margin-right: 0;
  width: 50%;
}

.tabs a {
  display: block;
  text-align: left;
  text-decoration: none;
  @include textParam(15px, 21px);
  padding: 15px 0;
}

.tabs_contacts a {
  text-align: center;
}

.tabs a:hover, .tabs a.active {
  color: $red2;
  position: relative;
}

.tabs a.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0;
  background-color: $red2;
}

.tabgroup > div {
    padding-top: 20px;
    border-top: 1px solid $tabs-border;
    width: 100%;
}

.tabgroup.tabgroup_contacts > div {
  border-top: none;
}



.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

/*experts*/
.experts {
  width: 100%;
}

.experts__wrapper {
  justify-content: flex-start;
  width: 100%;
}

.experts__slide {
  box-sizing: border-box;
  width: 23%;
  height: auto;
  margin-right: 3%;
  padding: 20px;
  padding-bottom: 30px;
  background-color: $grey-light2;
}

.experts__slide:last-child {
  margin-right: 0;
}

.expert-img {
  width: 84px;
  height: 84px;
}

.expert-text-block {
  text-align: left;
}

.experts__slide .expert-name {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: $black;
}

.experts__slide .expert-desc {
  padding: 0;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 18px;
  font-style: italic;
  color: $black;
  font-weight: 400;
}

.experts__slide .expert-phone,
.experts__slide .expert-mail {
  padding: 0;
  font-size: 12px;
  line-height: 20px;
  color: $black;
  font-weight: 400;
}

.experts__slide .expert-mail {
  color: $blue;
  word-break: break-all;
}

.experts .swiper-button-next,
.experts .swiper-button-prev {
  display: none;
}

/*advantages*/
.tab-adv {
  width: 100%;
}

.tab-adv__wrapper {
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.tab-adv__slide {
  width: 23%;
  padding-bottom: 30px;
}

.tab-adv__adv-text {
  padding-right: 30px;
  color: black;
  font-size: 15px;
  line-height: 20px;
}

.tab-adv__adv-item {
  box-sizing: border-box;
  flex-basis: 20%;
  padding-top: 40px;
  background-repeat: no-repeat;
  background-position: left top;
}

.tab-adv__adv-item_1 {
  background-image: url("../img/tab-adv-1.png");
  background-position: left 5px;
}

.tab-adv__adv-item_2 {
  background-image: url("../img/tab-adv-2.png");
}

.tab-adv__adv-item_3 {
  background-image: url("../img/tab-adv-3.png");
}

.tab-adv__adv-item_4 {
  background-image: url("../img/tab-adv-4.png");
}

.tab-adv__adv-item_5 {
  background-image: url("../img/tab-adv-5.png");
}

.tab-adv__adv-item_6 {
  background-image: url("../img/tab-adv-6.png");
}

.tab-adv__adv-item_7 {
  background-image: url("../img/tab-adv-7.png");
  background-position: left 5px;
}

.tab-adv__adv-item_8 {
  background-image: url("../img/tab-adv-8.png");
  background-position: left 2px;
}

.tab-adv .swiper-button-next,
.tab-adv .swiper-button-prev {
  display: none;
}

/* news-slider */

.news-slider {
  width: 100%;
}

.news-slider__data {
  @include textParam(11px, 20px, $black);
  text-transform: uppercase;
}

.news-slider__link{
  color: $blue;
  text-align: left;
  cursor: pointer;
}

.news-slider__img-wrapper {
  margin-bottom: 10px;
}

.news-slider__wrapper {
  display: flex;
  justify-content: space-between;
}

.news-slider__slide {
  width: 24%;
  text-align: left;
}

.news-slider__img {
  width: 100%;
}

.news-slider .swiper-button-next,
.news-slider .swiper-button-prev {
  display: none;
}


@media (max-width: $m) {

  .expert-item .expert-desc {
    line-height: 16px;
  }

  .expert-item .expert-phone,
  .expert-item .expert-mail {
    font-size: 14px;
    line-height: 18px;
  }

}


@media (max-width: $s) {
  .tabs-container ul.tabs_contacts {
    width: 100%;
  }

  .tabs li {
    margin-right: 20px;
  }

  .experts__slide {
    margin-right: 0;
  }


  .experts .swiper-button-next,
  .experts .swiper-button-prev {
    display: block;
    margin-top: -15px;
  }

  /* advantages */
  .tab-adv .swiper-button-next,
  .tab-adv .swiper-button-prev {
    display: block;
    margin-top: -15px;
  }

  .tab-adv {
    &__wrapper {
      flex-wrap: nowrap;
    }

    &__adv-item {
      background-position-x: center;
    }

    &__adv-text {
      padding: 0 15px;
      text-align: center;
    }
  }

  /* news-slider*/
  .news-slider .swiper-button-next,
  .news-slider .swiper-button-prev {
    display: block;
    margin-top: -15px;
  }
}


@media (max-width: $xs) {

  .experts__slide {
    width: 80%;
  }

  .tab-adv__slide {
    width: 80%;
  }

  .tab-adv__adv-text {
    padding-left: 20px;
    padding-right: 20px;
  }

  .news-slider__slide {
    width: 80%;
  }

  .expert-img {
    margin: 0 auto;
  }

  .expert-text-block {
    text-align: center;
  }
}