$white: #fff;
$gray-light: #f3f3f3;
$grey-light2: #f7f7f7;
$grey-light3: #ebebeb;
$grey-light4: #cccccc;
$grey-light5: #dbdbdb;
$grey-medium2: #898989;
$gray-medium: #666666;
$gray-dark: #424242;
$red: #c4010c;
$red2: #c5010d;
$black: #000000;
$slider-bullet: #6b80a0;
$blue: #214496;
$blue-light: #6b7fa0;
$tabs-border: #bcc3d9;

/* breakpoints */
$xs: 479px;
$s: 747px;
$m: 1023px;


@mixin textParam($size: 15px, $height: 26px, $color: $black) {
  font-size: $size;
  line-height: $height;
  color: $color;
}

@mixin trans($duration: 0.3s) {
  transition: all $duration ease-in-out;
}

@mixin elemToCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}