@import "helper";
@import "typography";
@import "grid";
@import "side-bar";
@import "breadcrumbs-wrapper";
@import "logo-block";
@import "two-images";
@import "advantages";
@import "types";
@import "certificates";
@import "specials";
@import "info";
@import "contacts";
@import "popular";
@import "links-catalog";
@import "reccomend";
@import "use-cases";
@import "articles";
@import "tabs";
@import "payments-table";
@import "data";
@import "one-image";
@import "social-networks";
@import "actions-table";
@import "article-desc";

@import "filters_ua";
@import "tales_ua";
@import "pagination_ua";


.overflow-block {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: $s) {
  .overflow-block > div {
    overflow: visible;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .overflow-block .swiper-button-next {
     right: 4px;
  }

  .overflow-block .swiper-button-prev {
    left: 4px;
  }
}

@media (max-width: $xs) {
  .overflow-block > div {
    overflow: visible;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .overflow-block .swiper-button-next {
    right: 4px;
  }

  .overflow-block .swiper-button-prev {
    left: 4px;
  }
}