/*.main-title - h1*/
.title-h1 {
  margin-top: 35px;
  margin-bottom: 36px;
  font-size: 32px;
  line-height: 40px;
  color: $red;
  font-weight: 400;
  text-align: left;
}

.title-h3 {
  margin-top: 46px;
  margin-bottom: 22px;
  font-size: 20px;
  line-height: 28px;
  color: $red;
  font-weight: 600;
  text-align: left;
}

.title-h2 {
  margin-top: 46px;
  margin-bottom: 22px;
  font-size: 26px;
  line-height: 36px;
  color: $red;
  font-weight: 400;
  text-align: left;
}

.text-italic {
  font-size: 18px;
  line-height: 30px;
  font-style: italic;
  color: $black;
  text-align: left;
}

.text-normal {
  margin-top: 13px;
  font-size: 15px;
  line-height: 26px;
  color: $black;
  text-align: left;
}

.text-bold {
  margin-top: 13px;
  font-size: 15px;
  line-height: 26px;
  color: $black;
  text-align: left;
  font-weight: 700;
}

.text-red {
  color: $red;
}

.text-img-name {
  font-size: 12px;
  line-height: 20px;
  color: $gray-medium;
}

.text-italic_adv {
  font-size: 15px;
  line-height: 26px;
}

.table-title {
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
}

.table-text {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.table-text_bold {
  font-weight: 700;
}

.inner-link {
  color: $blue;
  text-decoration: underline;
}

.media-name {
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  text-align: left;
}


@media (max-width: 1280px) {
  .title-h1 {
    margin-top: 36px;
    margin-bottom: 26px;
    font-size: 28px;
  }

  .title-h2 {
    font-size: 24px;
  }

  .title-h3 {
    margin-top: 36px;
    margin-bottom: 26px;
    font-size: 18px;
    line-height: 26px;
  }

  .text-italic {
    font-size: 16px;
    line-height: 28px;
  }

  .text-normal {
    margin-top: 12px;
    font-size: 14px;
    line-height: 24px;
  }

  .text-bold {
    margin-top: 12px;
    font-size: 14px;
  }

  .text-italic_adv {
    font-size: 14px;
    line-height: 24px;
  }

  .table-text {
    font-size: 13px;
    line-height: 20px;
  }
}

@media (max-width: 1024px) {
  .title-h1 {
    margin-top: 46px;
    margin-bottom: 36px;
    font-size: 30px;
  }

  .title-h2 {
    margin-top: 55px;
    font-size: 26px;
  }

  .title-h3 {
    margin-top: 46px;
    font-size: 20px;
    line-height: 21px;
  }

  .text-italic {
    font-size: 18px;
    line-height: 32px;
  }

  .text-normal {
    margin-top: 13px;
    font-size: 15px;
    line-height: 26px;
  }

  .text-italic_adv {
    font-size: 15px;
    line-height: 26px;
  }

  .table-text {
    font-size: 14px;
    line-height: 22px;
  }

  .table-text_bold {
    line-height: 21px;
  }
}

@media (max-width: 768px) {
  .title-h1 {
    margin-top: 36px;
    margin-bottom: 26px;
  }

  .title-h2 {
    margin-top: 36px;
    margin-bottom: 26px;
    font-size: 24px;
  }

  .title-h3 {
    margin-top: 26px;
    margin-bottom: 16px;
  }

  .text-italic {
    font-size: 14px;
    line-height: 22px;
  }

  .text-normal {
    font-size: 14px;
    line-height: 24px;
  }

  .text-italic_adv {
    font-size: 14px;
    line-height: 24px;
  }

  .table-text {
    font-size: 13px;
    line-height: 20px;
  }

  .table-text_bold {
    font-size: 14px;
    line-height: 20px;
  }

  .table-title {
    font-size: 10px;
    line-height: 16px;
    font-weight: 300;
    text-transform: uppercase;
    color: $black;
    opacity: 0.5;
  }
}

@media (max-width: 480px) {
  .title-h1 {
    font-size: 26px;
  }
  .title-h2 {
    margin-top: 26px;
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 30px;
  }

  .title-h3 {
    font-size: 18px;
    line-height: 26px;
  }

  .text-italic {
    line-height: 24px;
  }

}